@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family:
        "Segoe UI",
        Inter,
        sans-serif;

    background-color: #F5F7FA;
    color: #1F2937;
}